<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>Document</title>
    <meta name="description" content="乐淘是中国最大的正品运动鞋、皮鞋网上专卖。乐淘网经营的品牌包括耐克、阿迪达斯、李宁、匡威等国内外知名品牌的篮球鞋,板鞋,休闲鞋,跑步鞋,帆布...">
    <meta name="Keywords" content="乐淘 乐淘鞋城 买鞋子 上乐淘 运动鞋 篮球鞋 帆布鞋 跑步鞋 男鞋 女鞋 足球鞋 休闲鞋 凉鞋 户外鞋 布洛克 高跟鞋 单鞋 豆豆鞋 乐福鞋 牛津鞋 凉拖 皮鞋 短靴 长靴 登山鞋 徒步鞋 硫化鞋 训练鞋 溯溪鞋 越野鞋 板鞋 足球鞋 网球鞋 赛车鞋 雪地靴 马丁靴 商务 英伦">
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/product.css">
</head>

<body>
    <div class="lt_container">
        <!-- 头部 -->
        <header class="lt_header">
            <a href="javascript:history.back();" class="icon_back fa fa-arrow-left"></a>
            <h3>商品详情</h3>
            <a href="javascript:;" class="icon_search mui-icon mui-icon-refresh"></a>
        </header>

        <!-- 主体 -->
        <div class="lt_content">
            <div class="lt_wraper">
                <div class="mui-scroll-wrapper">
                    <div class="mui-scroll">


                    </div>
                </div>
            </div>
        </div>




        <!-- 底部 -->
        <div class="lt_footer">
            <a href="cart.html">
                <span class="fa fa-shopping-cart"></span>
            </a>
            <button class="mui-btn mui-btn-primary">加入购物车</button>
            <button class="mui-btn mui-btn-danger">立即购买</button>
        </div>
    </div>

    <!--渲染模板 -->
    <script type="text/template" id="slideTpl">
        <!-- 轮播图 -->
        <div class="mui-slider">
            <div class="mui-slider-group">
                <% if (!pic||pic.length==0) 
                            pic = [{'picAddr':'images/none.png'}]
                        %>
                    <% for (var i=0;i<pic.length;i++){ %>
                        <div class="mui-slider-item">
                            <a href="#">
                                <img src="<%=pic[i].picAddr%>" />
                            </a>
                        </div>
                        <%}%>
            </div>
            <!-- 指示器 -->
            <div class="mui-slider-indicator">
                <% for (var i=0;i<pic.length;i++){ %>
                    <div class="mui-indicator <%=i==0?'mui-active':''%>"></div>
                    <%}%>
            </div>
        </div>
        <!-- 主体 -->
        <div class="detail_body">
            <!-- 商品标题 -->
            <div class="title">
                <strong class="mui-ellipsis-2">
                    <%=proName%>
                </strong>
            </div>
            <!-- 价格 -->
            <div class="price">
                <span class="now_pri">&yen;
                    <%=price%>
                </span>
                <span class="old_pri">&yen;
                    <%=oldPrice%>
                </span>
            </div>
            <!-- 尺码选择 -->
            <div class="size">
                <% 
                    var sizeArr = size.split('-');
                    var start = sizeArr[0],end=sizeArr[1];
                    for (var i = start;i <= end; i ++) {
                %>
                <span class="selec_size"><%=i%></span>
                <%}%>
            </div>
            <!-- 数量选择 -->
            <div class="count">
                <div class="mui-numbox" data-numbox-min ='1' data-numbox-max='<%=num%>'>
                    <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                    <input class="mui-input-numbox" type="text" />
                    <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                </div>
                <span>库存：<%=num%>双</span>
            </div>
            <!-- 详情 -->
            <div class="detail">
                <span>
                    <%= proDesc%>
                </span>
            </div>
        </div>
    </script>


    <script src="assets/mui/js/mui.min.js"></script>
    <script src="assets/zepto/zepto.min.js"></script>
    <script src="assets/artTemplate/template-native.js"></script>
    <script src="js/common.js"></script>
    <script src="js/product.js"></script>
</body>

</html>